/*
  Theme Name: Avilon
  Theme URL: https://bootstrapmade.com/avilon-bootstrap-landing-page-template/
  Author: BootstrapMade.com
  License: https://bootstrapmade.com/license/
*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

a {
  color: #EA1432;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #1dc9ce;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: linear-gradient(45deg,  #0C04FA, #F8062C, #17EE10);
  color: #fff;
  padding: 2px 20px 8px 20px;
  font-size: 16px;
  border-radius: 4px 4px 0 0;
  right: 15px;
  bottom: 0;
  transition: none;
}

.back-to-top:focus {
  background: linear-gradient(45deg,  #0C04FA, #F8062C, #17EE10);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #EA1432;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 36px;
  margin: -4px 0 0 0;
  padding: 0;
  line-height: 1;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px;
    margin-top: 0;
  }
  #header #logo img {
    max-height: 40px;
  }
}

#header.header-fixed {
  background: linear-gradient(45deg,  #0C04FA, #F8062C, #17EE10);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  width: 100%;
  height: 93vh;
  /*background: linear-gradient(45deg,  #0C04FA, #F8062C, #17EE10);*/
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.2)), url(./img/th.jpg) fixed center center;
  background-size: cover;
  padding: 100px 0;
  /*height: 80vh;*/
}

#intro .intro-text {
  padding-top: 360px;
  text-align: center;
  vertical-align: top;
}f

@media (max-height: 768px) {
  #intro .intro-text {
    padding-top: 80px;
  }
}

@media (max-width: 768px) {
  #intro .intro-text {
    padding-top: 180px;
  }
}

@media (max-width: 767px) {
  #intro .intro-text {
    padding-top: 50px;
  }
}

#intro h2 {
  margin: 30px 0 10px 0;
  padding: 0 15px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #fff;
}

@media (max-width: 768px) {
  #intro h2 {
    font-size: 28px;
    line-height: 36px;
  }
}

#intro p {
  color: #fff;
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 24px;
}

@media (max-width: 768px) {
  #intro p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}






/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}


/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  outline: none;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #EA1432;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #EA1432;
}

#mobile-nav ul .menu-item-active {
  color: #EA1432;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-align: center;
  font-weight: 400;
}

.section-header .section-description {
  text-align: center;
  padding-bottom: 40px;
  color: #777;
  font-style: italic;
}

.section-header .section-divider {
  display: block;
  width: 60px;
  height: 3px;
  background: #EA1432;
  background: linear-gradient(0deg, #EA1432 0%, #55fabe 100%);
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Section with background
--------------------------------*/
.section-bg {
  background: #eff5f5;
}

/* About Us Section
--------------------------------*/
#about {
  padding: 60px 0;
  height: 610px;
  width: 100%;
  height: 93vh;
  /*background: linear-gradient(45deg,  #0C04FA, #F8062C, #17EE10);*/
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.2)), url(./img/aboutus.jpg) fixed center center;
  background-size: cover;
  padding: 100px 0;


}

#about .aboutus {
  height: 360px;
  overflow: hidden;
}

#about .aboutus img {
  margin-left: -15px;
  max-width: 75%;
}

@media (max-width: 768px) {
  #about .aboutus {
    height: auto;
  }
  #about img {
    margin-left: 0;
    padding-bottom: 30px;
    opacity: 50%;

  }
}

/*#about .section-title {
  color: #333;
  font-weight: 300;
  font-size: 24px;
}*/

#about .section-title{
  color: #FFFFFF;
  font-weight: 300;
  font-size: 24px;
  line-height: 26px;
  /*font-style: italic;*/
}

#about .content p {
  line-height: 26px;
}

#about p {
  font-size: 18px;
  padding-right: 4px;
  color: #FFFFFF;
}
#about .row h2 {
  font-size: 30px;
  padding-right: 4px;
  color: #FFFFFF;
}

/* Gallery Section
--------------------------------*/
#gallery {
   padding: 60px 0;
  height: 610px;
  width: 100%;
  height: 93vh;
  /*background: linear-gradient(45deg,  #0C04FA, #F8062C, #17EE10);*/
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.2)), url(./img/gallery.jpg) fixed center center;
  background-size: cover;
  padding: 100px 0;
}

#gallery .container-fluid {
  padding: 0px;
}

#gallery .row {
  position: absolute;
  top:75px;
  right: 0;
  bottom: 75px;
  left: 0;
  width: 100%;
  height: 500px;
  opacity: 1;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#gallery .carousel-item {
  overflow: hidden;
  position: relative;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

#gallery .carousel-item img {
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  width: 500px;
  height: 300px%;
}

#gallery .carousel-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#gallery .gallery-item:hover .gallery-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  /*background: linear-gradient(45deg,  #0C04FA, #F8062C, #17EE10);*/
  /*background: #fff;*/
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  color: #333;
  font-size: 14px;
}

#footer .credits {
  font-size: 13px;
  color: #888;
}

#footer .footer-links a {
  color: #666;
  padding-left: 15px;
}

#footer .footer-links a:first-child {
  padding-left: 0;
}

#footer .footer-links a:hover {
  color: #EA1432;
}
#log {
  width: 100%;
  height: 93vh;
  /*background: linear-gradient(45deg,  #0C04FA, #F8062C, #17EE10);*/
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.2)), url(./img/contactus1.jpg) fixed center center;
  background-size: cover;
  padding: 100px 0;
  /*height: 80vh;*/
}
#log .intro-text {
  padding-top: 360px;
  text-align: center;
  vertical-align: top;
}f

@media (max-height: 768px) {
  #log .intro-text {
    padding-top: 80px;
  }
}

@media (max-width: 768px) {
  #log .intro-text {
    padding-top: 180px;
  }
}

@media (max-width: 767px) {
  #log .intro-text {
    padding-top: 50px;
  }
}

#log h2 {
  margin: 30px 0 10px 0;
  padding: 0 15px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #fff;
}

@media (max-width: 768px) {
  #log h2 {
    font-size: 28px;
    line-height: 36px;
  }
}

#log p {
  color: #fff;
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 24px;
}

@media (max-width: 768px) {
  #log p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}


